@model CarriageViewModel

@{
    ViewBag.Title = "Вагон";
}

<div class="car-full-info container">
    <div class="block-caption display-4">Выберите место в вагоне</div>

    <div id="free-seats" style="display:none">@Html.Raw(Json.Serialize(Model.Carriage.Seats))</div>

    <div class="car-schema text-center">
        @Html.Raw(Model.CarriageSchema.Schema)
    </div>


    <form class="passengers-block">
        <div class="passenger">
            <div class="passenger-number">Пассажир №1 (место: 39)</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Фамилия">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" placeholder="Имя">
                        </div>
                        <div class="form-group col-6">
                            <div class="datepicker">
                                <input type="text" class="form-control" name="date" placeholder="Дата рождения" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" placeholder="Серия и № студ. билета">
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Взрослый</option>
                            <option>Ребенок</option>
                            <option>Студент</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script src="/js/carriage.js"></script>
}
