@{ 
    ViewBag.Title = "TrainTicketShop";
}

<div class="container">
    <h1 class="display-4 text-center">Билетная касса</h1>
    <div class="search-box card w-100 card-outline-info">
        <form method="post">
            <div class="row">
                <div class="col col-md-5 col-sm-12 col-12">
                    <div class="input-group">
                        <input class="search-city-input form-control" type="text" name="from" placeholder="Откуда" autocomplete="off" required>
                    </div>
                </div>
                <div class="reverse-block col col-md-2 col-sm-12 col-12 text-center">
                    <img class="reverse-btn" src="/img/switch.png" height="30" width="30" />
                </div>
                <div class="col col-md-5 col-sm-12 col-12">
                    <div class="input-group">
                        <input class="search-city-input form-control" type="text" name="to" placeholder="Куда" autocomplete="off" required>
                    </div>
                </div>
            </div>
            <div class="datepicker col-md-3 col-sm-6 col-12">
                <div class="input-group">
                    <input type="text" class="form-control" name="date" placeholder="Дата" autocomplete="off" required>
                </div>
            </div>
            <div class="search-btn text-center">
                <input class="btn btn-lg btn-primary" type="submit" value="Найти билеты">
            </div>
        </form>
    </div>
</div>