$text-gray: #AEAEAE;
$background-gray: #BAC3CC;

body {
    padding-top: 5rem;
}

.block-vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.search-results {
    margin-top: 20px;
    .search-results-info{
        font-size: 26px;
        margin-bottom: 15px;
    }
}

.search-box {
    padding: 30px 10px;

    @media (min-width: 576px) {
        .reverse-btn {
            margin: 10px 0;
        }
    }

    .search-btn {
        margin-top: 20px;
    }

    .datepicker {
        margin-top: 20px;
        padding: 0;
    }

    .reverse-block {
        cursor: pointer;
    }
}

@mixin train-number($fontsize, $padding) {
    margin-bottom: 5px;

    span {
        border-radius: 5px;
        background-color: $background-gray;
        color: #fff;
        padding: $padding;
        font-size: $fontsize;
    }
}

.train-block {
    cursor: pointer;

    &:hover {
        background-color: rgba(243,243,243,0.7);
    }

    .train-basic-info {
        @extend .block-vertical-align;

        .train-number{
            @include train-number(inherit, 3px);
        }

        img {
            height: 100px;
            width: 100px;
            margin-bottom: 10px;
        }

        .train-type {
            margin-bottom: 5px;

            span {
                border-radius: 5px;
                font-size: 13px;
                color: #fff;
                padding: 3px;
                background-color: lighten($background-gray, 10%);
            }
        }
    }

    .train-path-info {
        .station-name {
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 700;
            margin: 5px 0;
        }

        .departure, .arrival {
            .name {
                font-size: 12px;
                color: $text-gray;
                margin-bottom: -5px;
            }

            .time {
                font-weight: 600;
                font-size: 26px;
                margin-bottom: -5px;
            }

            .date {
                font-size: 18px;
            }
        }

        .trip {
            margin: 10px 0;
            font-weight: 700;
            color: $text-gray;
        }
    }

    .train-seats-info {
        .table {
            @extend .block-vertical-align;

            th {
                vertical-align: top;
                color: darken($text-gray, 30%);
            }

            tr {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}

.train-divider {
    border-top: 2px solid lighten($text-gray, 10%);
}

.train-full-info {
    .block-caption {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .train-full-info-content {
        padding: 10px 0;
    }

    .train-number {
        @include train-number(20px, 5px 20px);
    }

    .train-name {
        font-size: 18px;
        font-weight: 700;
    }

    .train-time-info {
        > div {
            display: inline-block;

            span {
                font-weight: 700;
            }
        }

        .date {
            margin-right: 10px;
        }
    }

    .train-class {

        .train-class-name {
            border-bottom: 2px solid $text-gray;

            span {
                background-color: $text-gray;
                font-size: 20px;
                color: #fff;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                padding: 5px 10px 4px;
            }
        }

        .train-cars {
            margin: 0;
            padding: 20px 10px;
            .car {
                border: 2px solid #0275D8;
                border-radius: 5px;
                cursor:pointer;
                margin-bottom:20px;
                &:hover{
                    background-color: lighten($text-gray, 25%);
                }
                > div {
                    display: inline-block;
                    padding: 20px 10px;
                    font-weight: 600;
                    line-height: 1.1;
                    text-align: center;
                }

                .number {
                    border-right: 2px solid #0275D8;
                    font-size: 26px;
                }

                .free-seats {
                    font-size: 26px;
                }
            }
        }
    }
}

.car-seat{
    background-color:#fff;
}
