body {
  padding-top: 5rem; }

.block-vertical-align, .train-block .train-basic-info, .train-block .train-seats-info .table {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.search-results {
  margin-top: 20px; }
  .search-results .search-results-info {
    font-size: 26px;
    margin-bottom: 15px; }

.search-box {
  padding: 30px 10px; }
  @media (min-width: 576px) {
    .search-box .reverse-btn {
      margin: 10px 0; } }
  .search-box .search-btn {
    margin-top: 20px; }
  .search-box .datepicker {
    margin-top: 20px;
    padding: 0; }
  .search-box .reverse-block {
    cursor: pointer; }

.train-block {
  cursor: pointer; }
  .train-block:hover {
    background-color: rgba(243, 243, 243, 0.7); }
  .train-block .train-basic-info .train-number {
    margin-bottom: 5px; }
    .train-block .train-basic-info .train-number span {
      border-radius: 5px;
      background-color: #BAC3CC;
      color: #fff;
      padding: 3px;
      font-size: inherit; }
  .train-block .train-basic-info img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px; }
  .train-block .train-basic-info .train-type {
    margin-bottom: 5px; }
    .train-block .train-basic-info .train-type span {
      border-radius: 5px;
      font-size: 13px;
      color: #fff;
      padding: 3px;
      background-color: #d7dde2; }
  .train-block .train-path-info .station-name {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    margin: 5px 0; }
  .train-block .train-path-info .departure .name, .train-block .train-path-info .arrival .name {
    font-size: 12px;
    color: #AEAEAE;
    margin-bottom: -5px; }
  .train-block .train-path-info .departure .time, .train-block .train-path-info .arrival .time {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: -5px; }
  .train-block .train-path-info .departure .date, .train-block .train-path-info .arrival .date {
    font-size: 18px; }
  .train-block .train-path-info .trip {
    margin: 10px 0;
    font-weight: 700;
    color: #AEAEAE; }
  .train-block .train-seats-info .table th {
    vertical-align: top;
    color: #626262; }
  .train-block .train-seats-info .table tr:hover {
    background-color: transparent; }

.train-divider {
  border-top: 2px solid #c8c8c8; }

.train-full-info .block-caption {
  font-size: 40px;
  margin-bottom: 40px; }

.train-full-info .train-full-info-content {
  padding: 10px 0; }

.train-full-info .train-number {
  margin-bottom: 5px; }
  .train-full-info .train-number span {
    border-radius: 5px;
    background-color: #BAC3CC;
    color: #fff;
    padding: 5px 20px;
    font-size: 20px; }

.train-full-info .train-name {
  font-size: 18px;
  font-weight: 700; }

.train-full-info .train-time-info > div {
  display: inline-block; }
  .train-full-info .train-time-info > div span {
    font-weight: 700; }

.train-full-info .train-time-info .date {
  margin-right: 10px; }

.train-full-info .train-class .train-class-name {
  border-bottom: 2px solid #AEAEAE; }
  .train-full-info .train-class .train-class-name span {
    background-color: #AEAEAE;
    font-size: 20px;
    color: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 10px 4px; }

.train-full-info .train-class .train-cars {
  margin: 0;
  padding: 20px 10px; }
  .train-full-info .train-class .train-cars .car {
    border: 2px solid #0275D8;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; }
    .train-full-info .train-class .train-cars .car:hover {
      background-color: #eeeeee; }
    .train-full-info .train-class .train-cars .car > div {
      display: inline-block;
      padding: 20px 10px;
      font-weight: 600;
      line-height: 1.1;
      text-align: center; }
    .train-full-info .train-class .train-cars .car .number {
      border-right: 2px solid #0275D8;
      font-size: 26px; }
    .train-full-info .train-class .train-cars .car .free-seats {
      font-size: 26px; }

.car-full-info .block-caption {
  font-size: 40px;
  margin-bottom: 40px; }

.car-full-info .passengers-block {
  margin-top: 20px; }
  .car-full-info .passengers-block .passenger {
    display: none; }
    .car-full-info .passengers-block .passenger .passenger-number {
      font-size: 26px;
      margin-bottom: 20px; }
  .car-full-info .passengers-block .order-btn {
    display: none; }
  .car-full-info .passengers-block .email {
    display: none;
    margin-bottom: 20px; }
  .car-full-info .passengers-block .additional-info {
    display: none; }

.confirmation-block .block-caption {
  font-size: 40px;
  margin-bottom: 40px; }

.confirmation-block .train-full-info {
  padding: 20px 0; }
  .confirmation-block .train-full-info .carriage-info span {
    font-weight: 700; }

.confirmation-block .tickets {
  margin-top: 40px;
  margin-bottom: 30px; }

.confirmation-block .confirm-form {
  margin-bottom: 50px; }
  .confirmation-block .confirm-form .total {
    font-size: 30px;
    margin-bottom: 20px; }
    .confirmation-block .confirm-form .total span {
      font-weight: 700; }

