$text-gray: #AEAEAE;

body {
    padding-top: 5rem;
}

.block-vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.search-results {
    margin-top: 20px;
}

.search-box {
    padding: 30px 10px;

    @media (min-width: 576px) {
        .reverse-btn {
            margin: 10px 0;
        }
    }

    .search-btn {
        margin-top: 20px;
    }

    .datepicker {
        margin-top: 20px;
        padding: 0;
    }

    .reverse-block {
        cursor: pointer;
    }
}

.train-block {
    cursor: pointer;

    &:hover {
        background-color: rgba(243,243,243,0.7);
    }

    .train-basic-info {
        @extend .block-vertical-align;

        img {
            height: 100px;
            width: 100px;
            margin-bottom: 10px;
        }

        .train-number {
            margin-bottom: 5px;

            span {
                border-radius: 5px;
                background-color: #BAC3CC;
                color: #fff;
                padding: 3px;
            }
        }

        .train-type {
            margin-bottom: 5px;

            span {
                border-radius: 5px;
                font-size: 13px;
                color: #fff;
                padding: 3px;
                background-color: lighten(#BAC3CC, 10%);
            }
        }
    }

    .train-path-info {
        .station-name {
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 700;
            margin: 5px 0;
        }

        .departure, .arrival {
            .name {
                font-size: 12px;
                color: $text-gray;
                margin-bottom: -5px;
            }

            .time {
                font-weight: 600;
                font-size: 26px;
                margin-bottom: -5px;
            }

            .date {
                font-size: 18px;
            }
        }

        .trip {
            margin: 10px 0;
            font-weight: 700;
            color: $text-gray;
        }
    }

    .train-seats-info {
        .table {
            @extend .block-vertical-align;

            th {
                vertical-align: top;
                color: darken($text-gray, 30%);
            }

            tr {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
}

.train-divider {
    border-top: 2px solid lighten($text-gray, 10%);
}
