<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="lib/tether/dist/css/tether.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="lib/tether/dist/js/tether.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="lib/moment/moment.js"></script>

    <script src="js/search.js"></script>
</body>
</html>
